.header__lang-link {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    text-decoration: none;
    align-self: flex-end;
}

.header__lang-link-active {
    border-bottom: 1px solid #FFFFFF;
    margin-right: 18px;
}