.page {
    max-width: 1280px;
    margin: 0 auto;
}

@media (max-width: 1024px) {
    
    .page {
        max-width: 1280px;
    }

}

@media (max-width: 768px) {

    .page {
        max-width: 768px;
    }
    
}

@media (max-width: 700px) {

    .page {
        max-width: 700px;
    }

}