.places {
    max-width: 984px;
    margin: 92px auto;
    margin-bottom: 0;
}

@media (max-width: 1024px) {

    .places {
        max-width: calc(100% - 48px * 2);
    }
    
}

@media (max-width: 768px) {
    
    .places {
        max-width: calc(100% - 24px * 2);
    }
    
}

@media (max-width: 700px) {

    .places {
        max-width: calc(100% - 24px * 2);
    }

}

@media (max-width: 450px)  { 

    .places {
        max-width: 450px;
        margin: 64px auto;
    }
    
}