.photo_grid {
    max-width: calc(100% - 48px * 2);
    margin: 92px auto;
    margin-bottom: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(213px, 1fr));
    gap: 16px;
}