.place__url-headeing {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #AAAAAA;
    margin: 0;
    margin-bottom: 12px;
}

@media (max-width: 450px)  { 

    .place__url-headeing {
        font-size: 12px;
        line-height: 12px;
    }
    
}