.footer__copyright {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

@media (max-width: 720px)  { 

    .footer__copyright {
        margin-top: 15px;
    }
    
}

@media (max-width: 500px)  { 

    .footer__copyright {
        margin-top: 48px;
        line-height: 14px;
    }
    
}