.lead__subtitle {
    max-width: 640px;
    text-align: center;
    margin: 0;
    margin-top: 32px;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}

@media (max-width: 768px) {

    .lead__subtitle {
        font-size: 30px;
        line-height: 36px;
    }
    
}

@media (max-width: 700px) {

    .lead__subtitle {
        font-size: 20px;
        line-height: 25px;
    }

}

@media (max-width: 450px)  { 

    .lead__subtitle {
        max-width: 288px;
        margin-top: 16px;
        font-size: 16px;
        line-height: 20px;
    }
    
}